  * {
    margin: 0;
    padding: 0;
  }    
  
  table{
     width: 600px;
     border-collapse: collapse; 
  }
  
  td,th {
     border-bottom: 1px solid lightgrey;
     padding: 5px;
  }
  
  th {
     background: gray;
     color: #fff;
  }
  
  .txt_left {
    text-align: left;
  }
  
  .txt_center{
    text-align: center;
  }
  
  .txt_right{
    text-align: right;
  }
  ul{
    list-style: none;
    width : 400px;
    padding : 10px;
    margin : 10px 5px 30px 10px;
    border : 3px solid #ECBD58;
    border-radius : 25px;
    box-shadow: #ECBD58 1px 1px 10px 7px ;
  }
  li{
    padding : 13px;
    font-size: 17px;
    color: grey;
  }
  .shop_name{
    font-size: 25px;
    font-weight: bold;
    color: grey;
  }
  .my_page {
    float : left;
  }
  .main_page {
    display: inline-block;
    margin-left : 25px;
  }

  #main_page_ul{
  	height : 35px;
  }

  .detail_page{
    float : right;
  }
  .main_btn{
    width : 100px;
    height : 40px;
    color :	white;
    font-size: large ;
    font-weight: bold;
    background-color: #ECBD58;
    border : 2px solid #ECBD58;
    border-radius: 15px;
    margin : 10px 20px 10px 50px ;
    
  }